---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SiteTitle.astro';
import Navigation from '../../src/components/Navigation.astro';

const props = Astro.props as Props;
const currentPath = Astro.url.pathname;
---

<div
  class="bg-gradient-to-r
    from-emerald-900/80 to-indigo-900/70
    dark:from-emerald-900/95 dark:to-indigo-900/95
    flex flex-row justify-between
    rounded-lg px-2 gap-8">
  <Default {...props} />
  <Navigation locale={props.locale} currentPath={currentPath} variant="dark" />
</div>
