---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/PageFrame.astro';
import FooterVue from '../../src/components/Footer.vue';

const props = Astro.props as Props;
---

<div class="flex flex-col h-full">
    <Default {...props}>
        <slot name="sidebar" slot="sidebar" />
        <slot name="header" slot="header" />
        <slot />
    </Default>

    {props.hasSidebar === false && <FooterVue lang={props.locale} />}
</div>
