---
import AppLayout from '@layouts/AppLayout.astro';
import CourseCard from '@/components/common/CourseCard.astro';
import { experimentDB } from '@coffic/cosy-ui';
interface Props {
    lang: string;
}

const { lang } = Astro.props;
const experiments = await experimentDB.allExperiments(lang);

const title = lang === 'zh-cn' ? '实验列表' : 'Experiments List';
const description = lang === 'zh-cn' ? '实验列表' : 'Experiments List';
---

<AppLayout title={title} description={description}>
    <div
        class="container max-w-screen-lg mx-auto mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-8">
        {
            experiments.map(experiment => (
                <CourseCard title={experiment.getTitle()} link={experiment.getLink()} />
            ))
        }
    </div>
</AppLayout>
