---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import FooterVue from '../components/Footer.vue';
import BookCard from '../components/BookCard.vue';
// import '../styles/hide_main.css';
// import '../styles/hide_page.css';

const lang = Astro.currentLocale ?? 'en';
---

<StarlightPage
  frontmatter={{
    title: 'CofficLab Studio',
    description: 'Coffic',
    template: 'splash',
  }}
  hasSidebar={false}
  headings={[]}>
  <div
    class="mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-8">
    <BookCard
      link="/zh-cn/laravel_learn"
      book={{ title: 'Laravel' }}
      childrenCount={10}
    />

    <BookCard link="/zh-cn/kong" book={{ title: 'Kong' }} childrenCount={10} />

    <BookCard
      link="/zh-cn/vue/intro"
      book={{ title: 'Vue' }}
      childrenCount={10}
    />

    <BookCard
      link="/zh-cn/caddy/intro"
      book={{ title: 'Caddy' }}
      childrenCount={10}
    />

    <BookCard
      link="/zh-cn/build_your_own_web_toolbox"
      book={{ title: 'Build Your Own Web Toolbox' }}
      childrenCount={10}
    />
  </div>
</StarlightPage>
