---
import Lang from '@/models/Lang';
import CourseCard from '@components/courses/CourseCard.astro';
import CourseDB from '@/database/CourseDB';
export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const courses = await CourseDB.getFamousCourses(lang.code);

const name: Record<string, string> = {
  'zh-cn': '快易知',
  en: 'Kuai Yi Zhi',
};

const heroText: Record<string, string> = {
  'zh-cn': '沉浸式学习平台，帮您构建完整的知识网络',
  en: 'Immersive Learning Platform, Help You Build a Complete Knowledge Network',
};
---

<div class="hero min-h-[70vh] bg-base-200/0">
  <div class="hero-content flex-col flex gap-8">
    <div class="text-center lg:text-left flex flex-col gap-4 items-center">
      <h1 class="text-7xl text-base-content/70 pb-6">{name[lang.code]}</h1>
    </div>

    <div class="text-center lg:text-left flex flex-col gap-4 items-center">
      <h2 class="text-3xl text-base-content/70 pb-6">
        {heroText[lang.code]}
      </h2>
    </div>

    <div class="max-w-none">
      <div
        class="container mx-auto mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-8">
        {courses.map((course) => <CourseCard course={course} />)}
      </div>
    </div>
  </div>
</div>
