---
import AppLayout from '../layouts/AppLayout.astro';
import CourseDB from '@/database/CourseDB';
import CourseCard from './CourseCard.astro';
import { getLangFromPathname } from '@/utils/lang';

const lang = getLangFromPathname(Astro.url.pathname);
const courses = await CourseDB.getCourses(lang);

const title = lang === 'zh-cn' ? '课程列表' : 'Courses List';
const description = lang === 'zh-cn' ? '课程列表' : 'Courses List';
---

<AppLayout
  title={title}
  description={description}
  template="splash"
  frontmatter={{
    title: title,
    description: description,
    template: 'splash',
  }}>
  <div
    class="container max-w-screen-lg mx-auto mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-4 gap-8">
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</AppLayout>
