---
import AppLayout from '../layouts/AppLayout.astro';
import CourseDB from '@/database/CourseDB';
import CourseCard from './CourseCard.astro';

interface Props {
  lang?: string;
}

const { lang = 'zh-cn' } = Astro.props;
const courses = await CourseDB.getCourses();

const title = lang === 'zh-cn' ? '课程列表' : 'Courses List';
const description = lang === 'zh-cn' ? '课程列表' : 'Courses List';
---

<AppLayout
  title={title}
  description={description}
  template="splash"
  frontmatter={{
    title: title,
    description: description,
    template: 'splash',
  }}
  headings={[]}
  hidePageTitle={true}>
  <div
    class="not-content mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-5 gap-8">
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</AppLayout>
