---
import { Image } from 'astro:assets';
import bookCover from '@assets/book.png';
import { Course } from '@models/Course';
interface Props {
  course: Course;
}

const { course } = Astro.props;
---

<div>
  <a href={course.link} class="justify-center flex no-underline text-gray-100">
    <div class="w-56 h-80">
      <div
        class="bg-gradient-to-br w-full h-full from-green-900/90 to-cyan-900/40 rounded-3xl shadow-lg">
        <div
          class="bg-base-100/40 w-full h-full rounded-3xl border border-white/50 hover:scale-105 hover:shadow-2xl transform duration-200">
          <div class="card-body p-1 h-full">
            <Image src={bookCover} alt={course.title} class="h-3/5 w-full" />
            <div>
              <h2 class="text-lg text-center">
                {course.title}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
