---
interface Props {
  lang?: string;
}

const { lang = 'en' } = Astro.props;

const translations = {
  slogan: {
    zh: '也许，这是一番成就的开始',
    en: 'Perhaps, this is the beginning of achievement',
  },
};

const t = (key: keyof typeof translations) => {
  return translations[key][lang.startsWith('zh') ? 'zh' : 'en'];
};
---

<div class="w-full px-8 z-50 mx-auto">
  <div class="mt-0 hero smart-card">
    <div class="text-center hero-content">
      <div class="max-w-md flex flex-row justify-center items-center mx-auto">
        <h1 class="text-2xl md:text-3xl font-bold">
          {t('slogan')}
        </h1>
      </div>
    </div>
  </div>
</div>

<style scoped>
  .smart-card {
    @apply p-4 rounded-2xl text-white dark:text-gray-500 
        bg-gradient-to-br
        from-indigo-900/30 via-indigo-800/40 to-indigo-800/50 
        dark:from-indigo-900/30 dark:via-indigo-900/40 dark:to-indigo-800/50 
        backdrop-blur-3xl 
        border-r border-gray-50/30 
        dark:border-gray-600/50 dark:border 
        hover:ring-0 hover:shadow-2xl 
        transform duration-100;
  }
</style>
