---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Search.astro';

const props = Astro.props as Props;
const isHome = Astro.props.id === '';
---

{
    !isHome && (
        <div class="bg-red-400/0 flex flex-row justify-end w-full">
            <div class="w-30 h-2/3 flex justify-center items-center my-auto">
                <Default {...props} />
            </div>
        </div>
    )
}
