---
import '../app.css';
import type { SidebarItem } from '@/models/SidebarItem';
import type { Heading } from '@/models/Heading';
import { getLangFromUrl } from '@/i18n/utils';
import { AppLayout as CosyLayout } from '@coffic/cosy-ui';
import Search from 'astro-pagefind/components/Search';
import app from '@/app';
import { RiSearch2Line } from '@remixicon/vue';

interface Props {
    title: string;
    description: string;
    headings?: Heading[];
    sidebar?: SidebarItem | null | undefined;
}

const props = Astro.props as Props;
const { title, description } = props;

const lang = getLangFromUrl(Astro.url);
---

<CosyLayout
    debug={false}
    showHeader={true}
    showSidebar={true}
    showFooter={true}
    metaConfig={{
        title: title,
        description: description,
        siteName: app.siteName,
        keywords: app.keywords,
        author: app.companyName.get(lang),
        robots: 'index, follow',
    }}
    footerConfig={{
        socialLinks: ['https://github.com/CofficLab'],
        company: app.companyName.get(lang),
        copyright: app.companyName.get(lang),
        homeLink: '',
        inspirationalSlogan: '',
        siteName: app.siteName,
        slogan: app.slogan.get(lang),
        aboutLink: '/en/meta/about',
        contactLink: '/en/meta/contact',
        blogLink: '/en/blogs',
        termsLink: '/en/meta/terms',
        privacyLink: '/en/meta/privacy',
        historyLink: '/en/meta/out-story',
        techStackLink: '/en/meta/tech-stack',
        products: [
            { name: 'Cisum', href: '/en/cisum' },
            { name: 'JuiceEditor', href: '/en/juice-editor' },
            { name: 'GitOK', href: '/en/gitok' },
            { name: 'Cosy UI', href: 'https://github.com/CofficLab/cosy-ui' },
        ],
    }}
    mainContentConfig={{
        size: 'full',
        isArticle: false,
        layout: 'column',
        verticalPadding: 'md',
        showTableOfContents: false,
    }}
    sidebarConfig={{
        sidebarItems: [],
    }}
    headerConfig={{
        navItems: app.getNavItems(lang),
    }}>
    <div slot="navbar-end" class="cosy:flex cosy:items-center cosy:gap-2">
        <button class="btn btn-ghost btn-sm p-1" onclick="my_modal_1.showModal()">
            <RiSearch2Line class="w-5 h-5" />
        </button>
    </div>

    <slot />

    <!-- 搜索模态框 -->
    <dialog id="my_modal_1" class="modal">
        <div class="modal-box bg-base-300 text-base-content">
            <Search />
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">
                        {lang === 'zh-cn' ? '关闭' : 'Close'}
                    </button>
                </form>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop bg-black/20 backdrop-blur-sm">
            <button>关闭</button>
        </form>
    </dialog>
</CosyLayout>
