---
import CustomPage from '@/layouts/CustomPage.astro';
import { SidebarItem } from '@/models/Sidebar';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  template: 'splash' | 'doc';
  frontmatter: {
    title: string;
    description: string;
    template: 'splash' | 'doc';
  };
  hasSidebar: boolean;
  headings: Array<{ depth: number; slug: string; text: string }>;
  sidebar: SidebarItem | null;
  hidePageTitle: boolean;
}

const props = Astro.props as Props;

const {
  title,
  description,
  frontmatter,
  template,
  hasSidebar,
  headings,
  sidebar,
  hidePageTitle,
} = props;
---

<div>
  <CustomPage
    title={title ?? frontmatter.title}
    description={description ?? frontmatter.description}
    sidebar={sidebar ? [sidebar.toStarlightFormat()] : []}
    hasSidebar={hasSidebar ?? false}
    headings={headings}>
    <div transition:animate="fade">
      <slot />
    </div>

    <ClientRouter />
  </CustomPage>
</div>
